TODO.txt
Output.txt

# types
.DS_Store
*.eps
*.pdf
*.npy
*.pyc

# folders
.ipynb_checkpoints/
.venv/
__pycache__/
_archive/
output/

# downloads
country_sitcproduct4digit_year.dta
sitc2_proximities.csv

# save files
cleaned.parquet
cntryyear_pmc.mat
country_sitcproduct2digit_year.mat
countryData.mat
fig5b.mat
metric2016.mat
rcptcolumns.mat